In [35]:
#%matplotlib inline

#%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

from modsim import *

In [36]:
data = pd.read_csv('data/api_simple.csv', index_col='time', )

          popu  test
time
1940    254918     1
1950    321033     2
1960    980337     3
1970   1526401     4
1980   3500439     5
1990   7273662     6
2000  10641833     7
2010  15214265     5

In [37]:
print(data.popu)

time
1940      254918
1950      321033
1960      980337
1970     1526401
1980     3500439
1990     7273662
2000    10641833
2010    15214265
Name: popu, dtype: int64